body {
    background-color: lightgray;
}

.fa {
    color: #1DA1F2;
}

.box-center {
    background-color: white;
    padding: 60px 0px;
    margin: 20px 0px;
}

.box {
    padding: 60px 0px;
}

.text {
    margin: 20px 0px;
}

span {
    font-size: 14px;
}

a {
    border-bottom: 2px solid blue;
}

